<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        {{ range .Site.Menus.main }}
          {{ if eq .Identifier "examinations" }}
            {{ partial "custom/examinations-nav.html" . }}
          {{ else if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                {{ .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                  <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>